.header {
  height: 100px;
  background-color: darkolivegreen;
  margin: -8px;
}

a {
  color: white;
  font-size: large;
}

li {
  margin-bottom: 20px;
  padding: 6px;
}

.main {
  background-color: black;
  margin: -16px -8px;
}
