.container {
  padding: 10px;
  margin: 16px;
  max-height: 500px;
  background-color: rgb(144, 180, 81);
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.animals {
  border: solid;
  margin-bottom: 20px;
  padding: 10px;
  width: 20%;
}

h3 {
  margin: 10px 20px;
  text-align: center;
}

button {
  background-color: black;
  color: gold;
  border: 0;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}
